{% extends 'login.base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block pageTitle %}Login{% endblock %}
{% block desc %}Bitte einloggen - um den Zugriff auf Tools zu erhalten - <a href="{{ path('app_register') }}">Registrieren</a>{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-body">
            <div class="m-sm-4">
                <form class="user" autocomplete="off" method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey }}</div>
                    {% endif %}
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input class="form-control form-control-lg" type="email" name="email" id="inputEmail" placeholder="Email" autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input class="form-control form-control-lg" type="password" name="password" id="inputPassword" placeholder="Password" autocomplete="off">
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <input type="hidden" name="_target_path" value="{{ path('app_homepage') }}"/>
                    <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>
                </form>

            </div>
        </div>
    </div>

{% endblock %}
