{% extends 'admin.base.html.twig' %}

{% block title %}Toolkit - Messung bearbeiten {% endblock %}

{% block body %}
    <main class="content">
        <div class="container-fluid p-0">

            <div class="mb-3">
                <h1 class="h3 d-inline align-middle">Messung bearbeiten</h1>
            </div>

            <div class="row">
                <div class="col-12 col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h6>Bitte nur den Messwert eingeben <b>OHNE</b> den Zusatz "mm"</h6>
                        </div>
                        <div class="card-body">
                            {{ include('calipometrie/_form.html.twig', {'button_label': 'Update'}) }}

                            <a href="{{ path('calipometrie_index') }}">Zurück zur Übersicht</a>

                            {{ include('calipometrie/_delete_form.html.twig') }}

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>

{% endblock %}


