<form method="post" action="{{ path('gewicht_delete', {'id': gewicht.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gewicht.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
