<form method="post" action="{{ path('pal_delete', {'id': pal.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pal.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
